/* UserProfile.module.css */

.landingPage {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* UserProfile.module.css */

.internAvtar {
  z-index: 20;
  height: 100%;
  width: 100%;
}

.card {
  background: rgba(25.88, 25.88, 25.88, 0.25);
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  border: 2px white solid;
  backdrop-filter: blur(65px);
  padding: 20px;
  position: relative;
  color: white;
  width: 60%;
  /* margin-top: 12%; */
}

.cardContent {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: 1fr 2fr;
}

/* .intern_info_container {
  width: 70%;
} */

.intern_info {
  display: flex;
  width: 85%;
  gap: 52px;
  color: #fff;
  font-family: Goldman;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.intern_info:not(.intern_info:last-child) {
  margin-bottom: 20px;
}

.intern_label {
  display: flex;
}

.intern_label_head {
  box-sizing: border-box;
  width: 70px;
  display: flex;
}

.intern_label_col {
  padding-left: 30px;
}

.intern_content {
  display: flex;
  justify-content: start;
  text-align: start;
}

.social_btn_wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
}

.social_btn {
  width: 25px;
  cursor: pointer;
}

.backAllButton {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  backdrop-filter: blur(60px);
  background-color: rgba(0, 0, 0, 0.035);
}

/* Styles for navigation buttons */
.navigationButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.backButton,
.nextButton {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  line-height: 1;
  border-radius: 100%;
  top: 50%;
  font-weight: 600;
  padding: 20px;
  font-size: 30px;
  transition: 0.5s;
}

.backButton:hover {
  transform: translate(-50%, -50%) rotate(180deg) scale(1.3);
}
.nextButton:hover {
  transform: translate(50%, -50%) scale(1.3);
}

.backButton {
  left: 0;
  transform: translate(-50%, -50%) rotate(180deg);
}

.nextButton {
  right: 0;
  transform: translate(50%, -50%);
}

.img_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1366px) {
  .user-profile {
    margin-top: 10%;
    height: 60%;
  }

  .intern_info_container {
    /* font-size: 10px; */
  }
}

@media (max-width: 1024px) {
  .card {
    width: 80%;
    padding: 25px 0;
  }

  .intern_info {
    width: 85%;
  }

  .intern_info:not(.intern_info:last-child) {
    margin-bottom: 10px;
  }

  .intern_label_head,
  .intern_label_col,
  .intern_content {
    font-size: 17px;
  }

  .user-profile {
    width: 85%;
    height: 60%;
    margin-top: 19%;
  }

  .social_btn {
    width: 19px;
  }
}

@media (max-width: 760px) {
  .intern_label_head,
  .intern_label_col,
  .intern_content {
    font-size: 14px;
  }

  .social_btn {
    width: 15px;
  }
}

@media (max-width: 650px) {
  .nextButton,
  .backButton {
    font-size: 15px;
    width: 25px;
    height: 25px;
  }
  .cardContent {
    grid-template-columns: none;
  }

  .img_container {
    width: 100%;
    text-align: center;
  }

  .img_container img {
    width: 50%;
  }

  .intern_info {
    width: 100%;
    padding: 0 20px;
  }
}
