@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

.landingPage {
  background-color: #121418;
  height: 100%;
  background-image: url(../../assets/background.svg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: top center;
  top: 100%;
  position: relative;
  left: 0;
  right: 0;
  transition: 1.2s ease-out;
}

.landingPage_content {
  overflow-y: scroll;
  /* display: flex;
  justify-content: center;
  height: 88vh; */
}

.landingPage_Txt_Container {
  /* margin-top: 18%; */
  /* height: 100%; */
}

.landingPage_Txt {
  text-align: center;
  font-family: 'Krona One';
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(90deg, #fff 24.54%, rgba(255, 255, 255, 0) 102.64%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 106px;
  cursor: default;
}

.spaceTxt {
  background: linear-gradient(93deg, #6bffff 52.5%, #2265b3 92.26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: default;
}

.scroll_txt {
  color: #fff;
  text-align: center;
  font-family: 'Goldman';
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 13px;
}

.landingPage_astronaut {
  /* align-items: center;
  justify-content: center; */
  /* margin-top: 500px;
  padding-bottom: 250px; */
  /* margin-left: -60px;
  height: 88vh; */
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  position: fixed;
  width: 100%;
  height: 12vh;
}

.header {
  color: #fff;
  text-align: center;
  font-family: 'Goldman';
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 0.26px;
}

.play_game {
  border-radius: 50px;
  border: 2px solid #fff;
  width: 231px;
  padding: 16px 20px;
  cursor: pointer;
  color: #fff;
  font-family: 'Goldman';
  font-weight: 400;
  background: transparent;
  font-size: 26px;
}

.intern_hari_wrap {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* padding-top: 77px; */
}

.intern_btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 77px;
  padding-left: 40px;
}

.meet_intern_btn {
  color: #1d8fcb;
  text-align: center;
  font-family: Goldman;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  border-radius: 50px;
  border: 2px solid #fff;
  background: #fff;
  width: 231px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.scroll_span{
  cursor: pointer;
  transition: all 500ms;
  display: inline-block;
}

.scroll_span:hover {
  font-size: 35px;
}

.video_ended {
  transform: translateY(-100%);
}

.overlay_loader {
  transition: 1.5s ease-out;
  position: relative;
  height: 100vh;
}

.overlay_loader video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.landing_page_slide_up {
  top: -100%;
}

.main_wrapper{
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: black;
}

@media(max-width: 768px) {
  .header_container {
    padding: 35px;
  }

  .header{
    font-size: 22px;
  }

  .play_game{
    width: 208px;
    padding: 14px 20px;
    font-size: 22px;
  }

  .landingPage_Txt_Container{
    margin-top: 30%;
  }

  .landingPage_Txt{
    font-size: 50px;
    letter-spacing: 1.2px;
  }

  .landingPage_astronaut{
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 250px 50px;
    height: 50%;
  }
  /* .intern_hari_wrap{
    margin-top: 100px;
  } */
}

@media(max-width: 539px) {
  .landingPage {
    background-image: url(../../assets/backgroud_phone.png);
  }
}