@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

.landingPage {
  background-color: #121418;
  height: 100vh;
  background-image: url(../../assets/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: top center;
}

.landingPage_content {
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  height: 100%;
}

.landingPage_Txt_Container {
  margin-top: 15%;
}

.landingPage_Txt {
  text-align: center;
  font-family: 'Krona One';
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(90deg, #fff 24.54%, rgba(255, 255, 255, 0) 102.64%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 106px;
}

.spaceTxt {
  background: linear-gradient(93deg, #6bffff 52.5%, #2265b3 92.26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Krona One';
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.scroll_txt {
  color: #fff;
  text-align: center;
  font-family: 'Goldman';
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 13px;
}

.landingPage_astronaut {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 500px;
  padding-bottom: 200px;
}
