@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

.landingPage {
  background-color: #121418;
  height: 100vh;
  background-image: url(../../assets/background.svg);
  background-size: 220%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: top center;
}

.landingPage_content {
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  height: 100%;
}

.landingPage_Txt_Container {
  margin-top: 8%;
}

.landingPage_Txt {
  text-align: center;
  font-family: 'Krona One';
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(90deg, #fff 24.54%, rgba(255, 255, 255, 0) 102.64%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 106px;
}

.spaceTxt {
  background: linear-gradient(93deg, #6bffff 52.5%, #2265b3 92.26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Krona One';
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.scroll_txt {
  color: #fff;
  text-align: center;
  font-family: 'Goldman';
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 13px;
}

.landingPage_astronaut {
  align-items: center;
  justify-content: center;
  margin-top: 500px;
  padding-bottom: 300px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
}

.header {
  color: #fff;
  text-align: center;
  font-family: Goldman;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.26px;
}

.play_game {
  border-radius: 50px;
  border: 2px solid #fff;
  display: flex;
  width: 231px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #fff;
  font-family: Goldman;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  background: none;
}

.intern_hari_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 77px;
}

.intern_btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 77px;
  padding-left: 40px;
}

.meet_intern_btn {
  color: #1d8fcb;
  text-align: center;
  font-family: Goldman;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  border-radius: 50px;
  border: 2px solid #fff;
  background: #fff;
  width: 231px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
