* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f8f8f8;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

.heading {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.message {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #555;
}

.image {
  max-width: 100%;
  height: auto;
}

.flex_center{
  display: flex;
  align-items: center;
  justify-content: center;
}
