.error {
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  padding: 20px;

  &__heading {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }

  &__message {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #555;
  }
}
